@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

.Weather h1 {
  font-size: 46px;
}

.Weather img {
  width: 100px;
}

li {
  list-style: none;
  font-size: 22px;
}
img {
  width: 90px;
}
.input-window {
  padding: 2px 12px;
  margin-bottom: 20px;
}
.search-button {
  padding: 4px 12px;
  margin: 4px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: #2b6d6e;
}
.current-button {
  padding: 4px 12px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: #de5b7b;
}
.temperature {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.unit {
  font-size: 22px;
  text-decoration: none;
  position: relative;
  top: -10px;
  border: none;
  background-color: transparent;
}

.Weather footer {
  margin-top: 30px;
  text-align: center;
}
