@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

.Weather:empty {
  height: 200px;
  width: 150px;
  background-image: radial-gradient(circle 20px, #ccc 100%, transparent),
    linear-gradient(#ccc, #ccc), linear-gradient(#ccc, #ccc),
    linear-gradient(#f1f1f1, #f1f1f1);
  background-size: 48px 48px, 190px 40px, 190px 20px, 100% 100%;
  background-position: 50% 24px, 15px 140px, 15px 200px, 0 0;
  background-repeat: no-repeat;
}

.Weather h1 {
  font-size: 46px;
}

.Weather img {
  width: 100px;
}
h1 {
  color: #000; /* set color if not supported */
  background: -webkit-linear-gradient(
    0deg,
    #9caeff,
    #7effe7
  ); /* set gradation for background*/
  -webkit-background-clip: text; /* hollow out with text*/
  -webkit-text-fill-color: transparent; /* show background for hollowed out part*/
  font-family: "Baloo 2", cursive;
  font-size: 50px;
  font-weight: 800;
  margin: 20px 0 0;
}

li {
  list-style: none;
  font-size: 18px;
}
img {
  width: 90px;
}
.location-search-input {
  font-size: 20px;
  padding: 6px 12px;
  margin-bottom: 20px;
}

.date {
  font-size: 20px;
}
.temperature {
  font-size: 40px;
  font-weight: 600;
}
.unit {
  font-size: 22px;
  text-decoration: none;
  position: relative;
  top: -10px;
  cursor: pointer;
}
.separation {
  position: relative;
  top: -10px;
}

.Weather footer {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 320px) {
  h1 {
    font-size: 40px;
  }
}
